<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.phonegap.plugins.tealium" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>TealiumPlugin</name>
    <js-module name="TealiumPlugin" src="www/TealiumPlugin.js">
        <clobbers target="cordova.plugins.TealiumPlugin" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="TealiumPlugin">
                <param name="android-package" value="com.phonegap.plugins.tealium.TealiumPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/TealiumPlugin.java" target-dir="src/com/phonegap/plugins/tealium" />
    </platform>
    <platform name="amazon-fireos">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="TealiumPlugin">
                <param name="android-package" value="com.phonegap.plugins.tealium.TealiumPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/TealiumPlugin.java" target-dir="src/com/phonegap/plugins/tealium" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="TealiumPlugin">
                <param name="ios-package" value="CDVTealiumPlugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVTealiumPlugin.h" />
        <source-file src="src/ios/CDVTealiumPlugin.m" />
    </platform>
</plugin>